<div class="brick">
<section id="services">
    <div class="container">
        <%= link_to 'Back', root_path, {class: 'btn btn-default', style: 'margin-bottom: 20px;'} %>

        <ul class="tabs">
            <li class="selected"><a href="#view1">Subcription information</a></li>            
            <li ><a href="#view2">User Information</a></li>
        </ul>
        <div class="tabcontents">

            <div id="view1">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">

                        <div class="wrapper">
                            <div class="row">
                                <div class="col-md-4">
                                  <a class="box <%= 'active' if @account.subcription == 1%>" href="#" id="special-plan">
                                    <h1>SPECIAL</h1>
                                    <div class="fontawesome-truck"></div>
                                    <p>
                                      For this Subcription, you will get all rights to learn any courses.

                                        <h5 style='text-align: left; color: #3498db'>Subscription Plan:  <%= @account.get_subscription %>
                                        Payment Status:  <%= @account.Payment_status %>
                                        </h5>

                                      <br/>
                                      <br/>
                                    </p>
                                    <% if @account.subcription != 1 %>
                                        <div class="btn">Select Plan</div>
                                    <% end %>
                                  </a>
                                </div>
                                
                                <div class="col-md-4">
                                  <a class="box <%= 'active' if @account.subcription == 3%>" href="#" "standard-plan">
                                    <h1 style="color: #9b59b6">STANDARD</h1>
                                    <div class="fontawesome-plane"></div>
                                    <p>
                                      For this Subcription, you will get all rights to learn any courses with support from Teachers

                                      <h5 style='text-align: left; color: #3498db'>Subscription Plan:  <%= @account.get_subscription %>
                                        Payment Status:  <%= @account.Payment_status %>
                                        </h5>
                                      <br/>
                                      <br/>
                                    </p>

                                    <% if @account.subcription != 3 %>
                                        <div class="btn" style="background-color: #9b59b6">Select Plan</div>
                                     <%end%>    
                                  </a>                               
                                </div>

                                <div class="col-md-4">
                                  <a class="box <%= 'active' if @account.subcription == 2%>" href="#" id="premium-plan">
                                    <h1 style="color: #3498db">PREMIUM</h1>
                                    <div class="fontawesome-fighter-jet"></div>
                                    <p>
                                      For this Subcription, you will get all rights to learn any courses with support from Teachers and will be available to take online examinations

                                      <h5 style='text-align: left; color: #3498db'>Subscription Plan:  <%= @account.get_subscription %>
                                        Payment Status:  <%= @account.Payment_status %>
                                        </h5>
                                      <br/>
                                      <br/>
                                    </p>

                                    <% if @account.subcription != 2 %>
                                        <div class="btn" style="background-color: #3498db">Select Plan</div>
                                    <%end%>
                                    
                                  </a>                               
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>


            <div id="view2">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                        <div class='row'>
                            <div class="col-md-6">
                                <% if current_user.avatar_url %>
                                    <%= image_tag(current_user.avatar_url(:bright_face)) if current_user.avatar? %>

                                <% else %>
                                    <%= image_tag 'User_Avatar.png', width: '90%', height: 'auto' %>
                                <% end %>
                            </div>

                            <div class="col-md-6" style='padding: 30px; margin-top: 20px; font-size: 2em'>
                                <strong><%= @account.name %></strong>    
                                <strong><%= @account.email %></strong>                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</section>
</div>
